spring:
  datasource:
    url: jdbc:mysql://localhost:3306/louvor4db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: 123456

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  port: 8080

app:
  cors:
    allowed-origins:
      - http://localhost:4200
      - http://localhost:8085
      - http://192.168.0.108:4200
      - https://app-dev.louvor4.com.br
    allow-credentials: true
