spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/louvor4db
    username: louvor4
    password: 123456

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  port: 8080

app:
  cors:
    allowed-origins:
      - http://localhost:4200
      - http://192.168.0.108:4200
      - https://app-dev.louvor4.com.br
    allow-credentials: true
